In [1]:
# Install the packages
# !pip install pandas

# import pandas library
import pandas as pd

/var/folders/gl/654wswpd6jgfjc_36gz6_dqr0000gn/T/ipykernel_4985/4130153787.py:5: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# read excel file
df = pd.read_excel('HouseData.xlsx')

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,zipcode,lat,long
0,629000615,20141022T000000,1495000,4,3.25,3070,10375,2.0,No,No View,Average,10,1962,98004,47.5862,-122.198
1,4141800215,20141126T000000,1495000,4,3.75,3770,4000,2.5,No,No View,Very Good,9,1916,98122,47.6157,-122.287
2,6448000020,20150129T000000,1490000,4,2.50,2420,18480,1.0,No,No View,Good,9,1967,98004,47.6214,-122.227
3,9522300010,20150331T000000,1490000,3,3.50,4560,14608,2.0,No,Average,Average,12,1990,98034,47.6995,-122.228
4,31000165,20140911T000000,1490000,5,3.50,3620,7821,2.0,No,Average,Average,10,1958,98040,47.5738,-122.215

In [4]:
# explore the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21060 entries, 0 to 21059
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           21060 non-null  int64
 1   date         21060 non-null  object
 2   price        21060 non-null  int64
 3   bedrooms     21060 non-null  int64
 4   bathrooms    21060 non-null  float64
 5   sqft_living  21060 non-null  int64
 6   sqft_lot     21060 non-null  int64
 7   floors       21060 non-null  float64
 8   waterfront   21060 non-null  object
 9   view         21060 non-null  object
 10  condition    21060 non-null  object
 11  grade        21060 non-null  int64
 12  yr_built     21060 non-null  int64
 13  zipcode      21060 non-null  int64
 14  lat          21060 non-null  float64
 15  long         21060 non-null  float64
dtypes: float64(4), int64(8), object(4)
memory usage: 2.6+ MB

In [6]:
df.shape

(21060, 16)

In [8]:
# count the unique values in the waterfront column
df.waterfront.value_counts()

waterfront
No     20976
Yes       84
Name: count, dtype: int64

In [9]:
# count the unique values in the view column
df.view.value_counts()

view
No View      19226
Average        894
Good           436
Fair           302
Excellent      202
Name: count, dtype: int64

In [10]:
# count the unique values in the condition column
df.condition.value_counts()

condition
Average             13684
Good                 5546
Very Good            1630
Fair- Badly worn      171
Poor- Worn out         29
Name: count, dtype: int64

In [12]:
# creating a dictionary to map to boolean values
waterfront = {
	'Yes': 'True',
	'No': 'False'
}

# mapping the values to True/False strings
df.waterfront = df.waterfront.map(waterfront)

In [13]:
# check the dataset
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,zipcode,lat,long
0,629000615,20141022T000000,1495000,4,3.25,3070,10375,2.0,False,No View,Average,10,1962,98004,47.5862,-122.198
1,4141800215,20141126T000000,1495000,4,3.75,3770,4000,2.5,False,No View,Very Good,9,1916,98122,47.6157,-122.287
2,6448000020,20150129T000000,1490000,4,2.50,2420,18480,1.0,False,No View,Good,9,1967,98004,47.6214,-122.227
3,9522300010,20150331T000000,1490000,3,3.50,4560,14608,2.0,False,Average,Average,12,1990,98034,47.6995,-122.228
4,31000165,20140911T000000,1490000,5,3.50,3620,7821,2.0,False,Average,Average,10,1958,98040,47.5738,-122.215

In [14]:
# save the final dataframe to an excel file with new name
df.to_excel('processed_house_data.xlsx', sheet_name='Data')